class shared_mem_env extends uvm_env;
    `uvm_component_utils(shared_mem_env)

    shared_mem_agent      agent;
    shared_mem_scoreboard sb;

    function new(string name, uvm_component parent);
        super.new(name, parent);
    endfunction

    function void build_phase(uvm_phase phase);
        super.build_phase(phase);
        agent = shared_mem_agent::type_id::create("agent", this);
        sb    = shared_mem_scoreboard::type_id::create("sb", this);
    endfunction

    function void connect_phase(uvm_phase phase);
        agent.mon.ap.connect(sb.analysis_export);
    endfunction
endclass
