`include "uvm_macros.svh"
import uvm_pkg::*;
class riscv_env extends uvm_env;
  `uvm_component_utils(riscv_env)

  riscv_agent      agent;
  riscv_scoreboard scoreboard;

  function new(string name, uvm_component parent);
    super.new(name, parent);
  endfunction

  function void build_phase(uvm_phase phase);
    super.build_phase(phase);
    agent      = riscv_agent::type_id::create("agent", this);
    scoreboard = riscv_scoreboard::type_id::create("scoreboard", this);
  endfunction

  function void connect_phase(uvm_phase phase);
    super.connect_phase(phase);
    agent.monitor.item_port.connect(scoreboard.analysis_export);
  endfunction
endclass
